# **Pandas 13**

## **#49 Seleksi Kolom dengan f-string**
Source : [Indonesia Belajar](https://youtu.be/M7tjEMqfpwQ)

### Import Modules

In [9]:
import pandas as pd

# Melakukan pengecekan versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame

- Mengadopsi dataframe klasik, yaitu titanic dataset.

In [15]:
df = pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### **Seleksi Kolom dengan f-string**
- Pada dasarnya untuk menyeleksi suatu kolom kita bisa menggunakan fungsi df[].
- Fungsi toframe() digunakan untuk membuat tampilan kolom lebih rapih.
- Fungsi head() digunakan untuk menampilkan 5 data pertama.
- Fungsi df[] bisa dimodifikasi sehingga menggunakan fungsi f-string seperti contoh ke-2.

In [16]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [17]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [18]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [19]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

## **#50 Membuat Kolom Baru dengan for loop dan f-string**

Source : [Indonesia Belajar](https://youtu.be/6i5OQ_F3x7A)

### Import Modules

In [20]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame
- Membuat sebuah data frame yang terdiri dari 2 kolom.

In [21]:
d = {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'], 
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

### Membuat Kolom Baru dengan for loop dan f-string
- Kita bisa menggunakan looping dan f-string untuk membuat beberapa kolom baru sekaligus.
- Contohnya dapat kita dapat membuat 2 kolom sekaligus seperti terlihat dibawah ini.

In [22]:
cols = ['penjual', 'barang']

for col in cols:
    df[f'count_tiap_{col}'] =  df.groupby(col).cumcount() + 1
    
df

  penjual    barang  count_tiap_penjual  count_tiap_barang
0    bejo   monitor                   1                  1
1    tejo   monitor                   1                  2
2    wati  keyboard                   1                  1
3    bejo     mouse                   2                  1
4   cecep  keyboard                   1                  2
5    tejo   monitor                   2                  3
6    wati    laptop                   2                  1
7    bejo   monitor                   3                  4

## **#51 Seleksi Baris dengan between**

Source : [Indonesia Belajar](https://youtu.be/yzpARuObplg)

### Import Modules

In [23]:
import pandas as pd
import numpy as np

# Cek versi
print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

### Persiapan Data Frame

In [24]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  6  6  3  9
1  7  4  4  1  7
2  3  6  1  7  9
3  3  4  5  6  2
4  1  8  3  1  4
5  2  9  1  5  5
6  9  5  3  6  9
7  3  7  3  8  1
8  2  9  4  5  9
9  5  5  8  3  1

###Seleksi baris dengan between()
- Parameter inclusive memiliki nilai default true
- Parameter inclusive berguna untuk mengikutsertakan nilai yang tertera dalam penyeleksian.

In [25]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
2  3  6  1  7  9
3  3  4  5  6  2
5  2  9  1  5  5
7  3  7  3  8  1
8  2  9  4  5  9
9  5  5  8  3  1

In [26]:
df[df['A'].between(2, 5, inclusive=False)]

<ipython-input-26-97453ac13cda>:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
2  3  6  1  7  9
3  3  4  5  6  2
7  3  7  3  8  1

## **#52 Transformasi Kolom menjadi Baris pada Data Frame**

Source : [Indonesia Belajar](https://youtu.be/4AOst9ifgrc)

### Import Modules

In [27]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame

In [28]:
d = {
'kode_area': [123, 456, 789, 321],
'pabrik': [4, 2, 5, 0],
'gudang': [2, 4, 7, 3],
'toko': [64, 32, 15, 24]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang  toko
0        123       4       2    64
1        456       2       4    32
2        789       5       7    15
3        321       0       3    24

### ransformasi Kolom menjadi Baris
df.melt() adalah fungsi yang digunakan untuk mentransformasikan kolom menjadi baris penggunaan method .melt() setidaknya membutuhkan 3 parameter parameter pertama adalah id_vars yang sering kali berasosiasi dengan primary key parameter kedua adalah var_name yang berasosiasi dengan nama kolom baru hasil transformasi kolom menjadi baris parameter ketiga adalah value name yang akan menampung jumlah dari hasil transformasi kolom menjadi baris

- Fungsi melt() digunakan untuk mentrasformasikan kolom menjadi sebuah baris.
- Fungsi ini membutuhkan minimal 3 buah parameter.
- Parameter pertama yaitu id_vars. Digunakan untuk menetukan kunci utama/ primary key.
- Parameter kedua yaitu var_name. Digunakan untuk menentukan nama kolom baru.
- Parameter ketiga yaitu value_name. Digunakan untuk menampung jumlah dari kolom.

In [29]:
df = df.melt(id_vars='kode_area', 
             var_name='jenis_bangunan', 
             value_name='jumlah')
df

    kode_area jenis_bangunan  jumlah
0         123         pabrik       4
1         456         pabrik       2
2         789         pabrik       5
3         321         pabrik       0
4         123         gudang       2
5         456         gudang       4
6         789         gudang       7
7         321         gudang       3
8         123           toko      64
9         456           toko      32
10        789           toko      15
11        321           toko      24