<a href="https://colab.research.google.com/github/DarylLesmana25/Pandas_2173027_VisualisasiData/blob/main/PandasWeek2_2173027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas 02

Source : Indonesia Belajar

# #05 Membalik Urutan Baris dan Kolom pada Data Frame
Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
# Nilai random antara 1 - 10 dengan dimensi yang ditentukan oleh n_rows dan n_cols

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  1  7  8  5  4
1  3  9  6  8  6
2  3  7  6  4  4
3  5  3  4  3  1
4  1  8  8  9  2

Membalik Urutan Kolom

In [4]:
df.loc[:, ::-1]

   E  D  C  B  A
0  4  5  8  7  1
1  6  8  6  9  3
2  4  4  6  7  3
3  1  3  4  3  5
4  2  9  8  8  1

Membalik Urutan Baris

In [5]:
df.loc[::-1]

   A  B  C  D  E
4  1  8  8  9  2
3  5  3  4  3  1
2  3  7  6  4  4
1  3  9  6  8  6
0  1  7  8  5  4

Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

In [6]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  1  8  8  9  2
1  5  3  4  3  1
2  3  7  6  4  4
3  3  9  6  8  6
4  1  7  8  5  4

# #06 Mengganti Nama (label) Kolom pada Data Frame
Import Modules

In [7]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [8]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  8  8  5  9
1  8  5  1  1  3
2  1  3  4  1  3
3  8  7  8  3  4
4  3  4  3  1  3

Mengganti Nama (label) Untuk Sebuah Kolom pada Data Frame

In [9]:
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  3  8     8  5  9
1  8  5     1  1  3
2  1  3     4  1  3
3  8  7     8  3  4
4  3  4     3  1  3

Mengganti Nama (label) untuk Banyak Kolom pada Data Frame

In [10]:
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     3       8  8     5  9
1     8       5  1     1  3
2     1       3  4     1  3
3     8       7  8     3  4
4     3       4  3     1  3

# #07 Menghapus (drop) Missing Values (NaN) pada Data Frame
Import Modules

In [11]:
import pandas as pd

print(pd.__version__)

1.3.5

In [12]:
df = pd.util.testing.makeMissingDataframe().reset_index() 
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  Hn84PAc2Do -0.642074       NaN  0.434195  0.621836
1  hWsDQRrzjP       NaN -2.260126 -0.100211  0.683325
2  IDPqOPkPJw  1.233133 -0.133613  0.508488  0.381241
3  BL22w9MUl4 -0.652828 -0.521996  0.300784  0.149005
4  HQxkO7x4Gi  1.676631  1.714182 -0.370031  0.656400

In [13]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  Hn84PAc2Do -0.642074       NaN  0.434195  0.621836
1  hWsDQRrzjP       NaN -2.260126 -0.100211  0.683325
2  IDPqOPkPJw  1.233133 -0.133613  0.508488  0.381241
3  BL22w9MUl4 -0.652828 -0.521996  0.300784  0.149005
4  HQxkO7x4Gi  1.676631  1.714182 -0.370031  0.656400

In [22]:
df_backup = df.copy(deep=True)

Menghapus ( drop ) setiap Kolom yang Mengandung Missing Values

In [23]:
df = df.dropna(axis='columns') 
df.head()

            Z
0  Hn84PAc2Do
1  hWsDQRrzjP
2  IDPqOPkPJw
3  BL22w9MUl4
4  HQxkO7x4Gi

Menghapus ( drop ) Setiap Baris yang Mengangund Missing Values

In [24]:
df = df_backup.copy(deep = True)

df = df.dropna(axis = 'rows')
df.head()

            Z
0  Hn84PAc2Do
1  hWsDQRrzjP
2  IDPqOPkPJw
3  BL22w9MUl4
4  HQxkO7x4Gi

Persentase Missing Values untuk tiap Kolom

In [20]:
df = df_backup.copy(deep=True)

df.isna().mean()*100

Z    0.0
dtype: float64

Menghapus (drop) Setiap Kolom yang Mengandung Missing Values Berdasarkan Threshold ( ambang batas )

In [21]:
treshold = len(df) * 0.9 # len() digunakan untuk menghitung panjang baris dan variable thershold yang berisi batas 0.9 atau 90%

df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z
0  Hn84PAc2Do
1  hWsDQRrzjP
2  IDPqOPkPJw
3  BL22w9MUl4
4  HQxkO7x4Gi


# #08 Memeriksa Kesamaan Antar Dua Buah Kolom (Series) pada Data Frame
Import Modules

In [25]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

Persiapan Data Frame

In [26]:
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series


*   Series adalah struktur data lain yang dimiliki pandas dengan objek 1-dimensi yang berisi sequence nilai dan berasosiasi dengan label data, yang disebut indeks.
*   
Untuk membuat sebuah Series atau kolom, kita bisa membuatnya dari sebuah array dengan memanggil fungsi Series pada pandas

In [27]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [28]:
type(df['A'])

pandas.core.series.Series

In [29]:
type(df)

pandas.core.frame.DataFrame

Memeriksa Kesamaan dengan Operator ==

In [30]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

Memeriksa Kesamaan dengan Method equels()

In [31]:
df['A'].equals(df['B'])

True

Memeriksa Kesamaan Antar Dua Data Frame

In [32]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [33]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True