<a href="https://colab.research.google.com/github/DarylLesmana25/Week1Pandas_2173207/blob/main/PandasWeek1_2173027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas 01

**#01 : Menyertakan Prefix dan Suffix pada seluruh kolom Data Frame**

**Import Modules**

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6
1.3.5
1.21.6

**Persiapan Data Frame**

In [4]:
n_rows = 5
n_cols = 5
cols = tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size = (n_rows, n_cols)),
                  columns = cols)
df

   A  B  C  D  E
0  1  8  5  1  8
1  1  7  5  7  1
2  6  8  7  3  9
3  6  3  2  8  8
4  2  6  3  8  2

In [5]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

**Menyertakan Prefix Kolom**

In [6]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        1        8        5        1        8
1        1        7        5        7        1
2        6        8        7        3        9
3        6        3        2        8        8
4        2        6        3        8        2

Penggunaan Prefix adalah untuk menambahkan String pada bagian depan pada string tertentu

**Menyertakan Suffix Kolom**

In [10]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        1        8        5        1        8
1        1        7        5        7        1
2        6        8        7        3        9
3        6        3        2        8        8
4        2        6        3        8        2

Penggunaan Suffix adalah untuk menambah String di bagian belakang

**#02 : Pemilihian baris ( rows selection ) pada Data Frame**

**Persiapan Data Frame**

In [11]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,5, size = (n_rows, n_cols)),
                  columns = cols)
df

   A  B  C  D  E
0  3  2  3  1  2
1  2  1  1  1  4
2  2  1  3  4  3
3  4  1  1  2  1
4  3  2  4  4  3
5  2  4  2  4  4
6  2  1  2  2  4
7  3  1  2  3  4
8  2  3  1  3  4
9  3  4  4  4  3

**Selection dengan operator logika |**

In [13]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  2  3  1  2
4  3  2  4  4  3
7  3  1  2  3  4
9  3  4  4  4  3

**Selection dengan fungsi isin()**

In [14]:
df[df['A'].isin([1,3])]

   A  B  C  D  E
0  3  2  3  1  2
4  3  2  4  4  3
7  3  1  2  3  4
9  3  4  4  4  3

**Mengenal operator negasi ~**

operator negasi dimanfaatkan atau digunakan untuk mengenali operator not

In [16]:
df[~df['A'].isin([1,3])]

   A  B  C  D  E
1  2  1  1  1  4
2  2  1  3  4  3
3  4  1  1  2  1
5  2  4  2  4  4
6  2  1  2  2  4
8  2  3  1  3  4

**#03 : Konversi tipe data String ke Numerik pada kolom Data Frame**

**Import Modules**

In [3]:
import pandas as pd
print(pd.__version__)

1.3.5

**Persiapan Data Frame**

In [4]:
data = {'col1' : ['1', '2', '3', 'teks'],
        'col2' :['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [5]:
df.dtypes

col1    object
col2    object
dtype: object

**Konversi tipe data dengan fungsi astype()**

In [6]:
df_x = df.astype({'col2' : 'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [7]:
df_x.dtypes

col1    object
col2     int64
dtype: object

**Konversi tipe data numerik dengan fungsi to_numeric()**

In [8]:
df.apply(pd.to_numeric, errors ='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

**#04 : Pemilihan kolom ( columns selection ) pada Data Frame berdasarkan tipe data**

**Import Modules**

In [12]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

**Persiapan Data Frame**

In [13]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float') #--> Hal ini akan mengkonversi pecahan menjadi tipe data float

df.index = pd.util.testing.makeDateIndex(n_rows, freq= 'H') 
df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00          9.0          4    A
1 2000-01-01 01:00:00         15.0          6    B
2 2000-01-01 02:00:00          6.0         16    C
3 2000-01-01 03:00:00         17.0         17    D
4 2000-01-01 04:00:00          2.0         14    E

In [14]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object

**Memilih kolom bertipe data numerik**

In [15]:
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0          9.0          4
1         15.0          6
2          6.0         16
3         17.0         17
4          2.0         14

In [16]:
df.select_dtypes(include='float')

   bil_pecahan
0          9.0
1         15.0
2          6.0
3         17.0
4          2.0

In [17]:
df.select_dtypes(include='int')

   bil_bulat
0          4
1          6
2         16
3         17
4         14

**Memilih kolom bertipe data string atau object**

In [18]:
df.select_dtypes(include='object') #--> fungsi dari ini adalah untuk memanggil kolom yang memiliki data tentunya numerik

  teks
0    A
1    B
2    C
3    D
4    E

**Memilih kolom bertipe data string atau datetime**

In [19]:
df.select_dtypes(include='datetime') #fungsi dari ini adalah untuk memanggil kolom yang memiliki tipe data "DATE"

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

**Memilih kolom dengan kombinasi tipe data**

In [20]:
df.select_dtypes(include=['number', 'object'])

   bil_pecahan  bil_bulat teks
0          9.0          4    A
1         15.0          6    B
2          6.0         16    C
3         17.0         17    D
4          2.0         14    E